<div class='row'>
	<div class='col-sm-6'>

		<div class="panel panel-success">
			<div class="panel-heading">
			  <span class="panel-title">Upcoming Payments</span>
			</div>
		  <div class="panel-body">
		   	<h3><%= number_to_currency(@payments[:upcoming_payments]) %></h3>
		   	<h6><%= @payments[:upcoming_payments_count] %> invoices unpaid in <%= Date.today.strftime('%B') %>.</h6>
		   	<hr>
		   	<h3><%= number_to_currency(@payments[:past_due_payments]) %></h3>
		   	<h6><%= @payments[:past_due_payments_count] %> past due invoices.</h6>
		  </div>
		</div>

	</div>
	<div class='col-sm-6'>

		<div class="panel panel-default">
			<div class="panel-heading">
			  <span class="panel-title">New Resident Applications (SAMPLE VIEW)</span>
			</div>
			<table class="table table-condensed table-striped table-hover table-responsive">
				<thead>
					<tr><th>Name</th><th>Move-In Date</th><th>Phone</th></tr>
				</thead>
			  <tbody>
			   	<tr><td>John Gresham</td><td>2/16/2016</td><td>503-456-7890</td></tr>
			   	<tr><td>Jackie Wilson</td><td>2/16/2016</td><td>503-234-1235</td></tr>
			   	<tr><td>Susan Jackson</td><td>2/16/2016</td><td>503-564-4362</td></tr>
			  </tbody>
			</table>
		</div>

	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		
		<div class="panel panel-default">
			<div class="panel-heading">
			  <span class="panel-title">Maintenance Requests Completed (SAMPLE VIEW)</span>
			</div>
			<table class="table table-condensed table-striped table-hover table-responsive">
				<thead>
					<tr><th>Location</th><th>Description</th></tr>
				</thead>
			  <tbody>
			   	<tr><td>Unit 6</td><td>John Gresham's faucet is constantly leaking.</td></tr>
			   	<tr><td>Upstairs Hallway</td><td>Some of the floor boards have gotten loose and are squeaking.</td></tr>
			   	<tr><td>Boiler Room</td><td>There is a very loud noise coming from here, sounds like a cat may have crawled in...</td></tr>
			  </tbody>
			</table>
		</div>

	</div>
</div>
