<div class='row'>
	<div class='col-md-4'>

		<div class="panel panel-gradient-green">
			<div class="panel-heading">
			  <div class="panel-title">Upcoming Payments</div>
			</div>
		  <div class="panel-body">
		   	<h3><%= number_to_currency(@payments[:upcoming_payments]) %></h3>
		   	<h6><%= @payments[:upcoming_payments_count] %> invoices unpaid in <%= Date.today.strftime('%B') %>.</h6>
		   	<hr>
		   	<h3><%= number_to_currency(@payments[:past_due_payments]) %></h3>
		   	<h6><%= @payments[:past_due_payments_count] %> past due invoices.</h6>
		  </div>
		</div>

	</div>
	<div class='col-md-8'>

		<div class="panel panel-gradient-blue">
			<div class="panel-heading">
			  <div class="panel-title">New Resident Applications (SAMPLE VIEW)</div>
			</div>
			
			<table class="table table-condensed table-striped table-hover table-responsive">
				<thead>
					<tr><th>Name</th><th>Move-In Date</th><th>Phone</th></tr>
				</thead>
			  <tbody>
				   	<tr>
				   		<td>Aurelie Terry PhD</td>
				   		<td>03/06/2016</td>
				   		<td>901-922-0182</td>
				   	</tr>
				   	<tr>
				   		<td>Kaleb Spencer</td>
				   		<td>02/14/2016</td>
				   		<td>405-021-2177</td>
				   	</tr>
				   	<tr>
				   		<td>Clemmie Littel</td>
				   		<td>02/20/2016</td>
				   		<td>881.454.7194</td>
				   	</tr>
				   	<tr>
				   		<td>Emmanuelle Schneider II</td>
				   		<td>02/20/2016</td>
				   		<td>(408) 655-1306</td>
				   	</tr>
			  </tbody>
			</table>
		</div>

	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<div class="panel panel-gradient-brick">
			<div class="panel-heading">
			  <div class="panel-title">Maintenance Requests Completed (Last 7 days)
				  <span class='pull-right'><%= link_to 'New Request', new_facility_maintenance_request_path, class: 'btn btn-xs btn-default' %></span>
				</div>
			</div>
			<%= render 'maintenance_requests/maintenance_requests_index', dashboard_view: true %>
		</div>
	</div>
</div>
