<div class='row'>
	<div class='col-md-4'>

		<div class="panel panel-gradient-green">
			<div class="panel-heading">
			  <div class="panel-title">Upcoming Payments</div>
			</div>
		  <div class="panel-body">
		   	<h3><%= number_to_currency(@payments[:upcoming_payments]) %></h3>
		   	<h6><%= @payments[:upcoming_payments_count] %> invoices unpaid in <%= Date.today.strftime('%B') %>.</h6>
		   	<hr>
		   	<h3><%= number_to_currency(@payments[:past_due_payments]) %></h3>
		   	<h6><%= @payments[:past_due_payments_count] %> past due invoices.</h6>
		  </div>
		</div>

	</div>
	<div class='col-md-8'>

		<div class="panel panel-gradient-blue">
			<div class="panel-heading">
			  <div class="panel-title">New Resident Applications (SAMPLE VIEW)</div>
			</div>
			<table class="table table-condensed table-striped table-hover table-responsive">
				<thead>
					<tr><th>Name</th><th>Move-In Date</th><th>Phone</th></tr>
				</thead>
			  <tbody>
			  	<% (1..5).to_a.sample.times do |i| %>
				   	<tr>
				   		<td><%= Faker::Name.name%></td>
				   		<td><%= (Date.today + (2..25).to_a.sample).strftime('%m/%d/%Y') %></td>
				   		<td><%= Faker::PhoneNumber.cell_phone %></td>
				   	</tr>
				  <% end %>
			  </tbody>
			</table>
		</div>

	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<div class="panel panel-gradient-brick">
			<div class="panel-heading">
			  <div class="panel-title">Maintenance Requests Completed (Last 7 days)
				  <span class='pull-right'><%= link_to 'New Request', new_facility_maintenance_request_path, class: 'btn btn-xs btn-default' %></span>
				</div>
			</div>
			<%= render 'maintenance_requests/maintenance_requests_index', dashboard_view: true %>
		</div>
	</div>
</div>
