<div class="panel panel-gradient-green">
	<div class="panel-heading">
	  <div class="panel-title"><%= 'Facility'.pluralize(@facilities.count) %> Overview (<%= Date.today.strftime("%B") %>)</div>
	</div>
		<table class="table table-condensed table-striped table-hover table-responsive">
			<thead>
	  		<tr>
		   		<th>Facility</th>
		   		<th class='text-center'>Rents</th>
		   		<th class='text-center'>Undeposited</th>
		   		<th class='text-center'>Deposited</th>
		   		<th class='text-center'>Remaining</th>
		   		<th class='text-center'>Units</th>
		   		<th class='text-center'>Occupied</th>
		   		<th class='text-center'>Vacant</th>
		   		<th class='text-right'>View</th>
		   	</tr>
		  </thead>
		  <tbody>
	  		<% @facilities.each do |facility| %>
	  	 	<tr>
	  	 		<td><%= facility.name %></td>
	  	 		<td class='text-center'><%= number_to_currency(a = facility.residents.rents) %></td>
	  	 		<td class='text-center'><%= number_to_currency(b = facility.payments.undeposited) %></td>
	  	 		<td class='text-center'><%= number_to_currency(c = facility.payments.deposited) %></td>
	  	 		<td class='text-center'><%= number_to_currency(a - b - c) %></td>
	  	 		<td class='text-center'><%= u = facility.units.count %></td>
	  	 		<td class='text-center'><%= o = facility.units.occupied.count %></td>
	  	 		<td class='text-center'><%= u - o %></td>
	  	 		<td class='text-right'>
	  	 			<%= link_to 'View', edit_facility_path(facility), class: 'btn btn-xs btn-default' %>
	  	 		</td>
	  	 	</tr>
	  	 	<% end %>
	  </tbody>
	</table>
</div>

<div class='row'>
	<div class='col-md-6'>
		<%= render template: 'employment_applications/index', locals: {dashboard_view: true} %>
	</div>
	<div class='col-md-6'>
		<%= render template: 'resident_applications/index', locals: {dashboard_view: true} %>
	</div>
</div>

<%= render template: 'maintenance_requests/index', locals: {dashboard_view: true} %>

