<div class="panel panel-gradient-green">
	<div class="panel-heading">
	  <div class="panel-title">Outstanding Invoices</div>
	</div>
	<%= form_for :invoices, url: facility_invoice_payments_path, method: :post do |inv| %>
		<table class="table table-condensed table-striped table-hover table-responsive">
			<thead>
	  		<tr>
		   		<th class='resident'>Resident</th>
		   		<th class='unit'>Unit</th>
		   		<th class='invoice'>Invoice #</th>
		   		<th class='date'>Due Date</th>
		   		<th class='amount'>Total Invoice</th>
		   		<th class='amount'>Balance Due</th>
		   		<th class='status'>Status</th>
		   		<th class='text-center'>Payment Amount</th>
		   		<th class='text-center'>Received on</th>
		   		<th class='method text-center'>Paid with</th>
		   	</tr>
		   </thead>
		   <tbody>
				<% @invoices.each do |invoice| %>
			    <tr>
	    			<td><%= invoice.resident.name %></td>
	    			<td><%= invoice.resident.unit.number %></td>
	    			<td><%= invoice.number %></td>
	    			<td><%= invoice.due_date.strftime('%m/%d/%Y')  %></td>
	    			<td><%= '%.2f' % invoice.total_due %></td>
			   		<td><%= '%.2f' % invoice.balance_due %></td>
			   		<td><%= (days = (Date.today - invoice.due_date).to_i) > 0 ? "Past Due (#{days})" : 'Current' %></td>
						<%= inv.fields_for "#{invoice.id}" do |pay| %>
				   		<td class='text-center'><%= pay.text_field :amount, class: 'input payment-amount' %></td>
				   		<td class='text-center'><%= pay.text_field :date, class: 'datepicker payment-date' %></td>
				   		<td class='text-center'><%= pay.select :method, Collections::PAYMENT_METHOD, class: 'payment-method' %></td>
						<% end %>
						<td class='text-center'><%= link_to 'View', edit_facility_invoice_path(@current_facility, invoice), class: 'btn btn-xs btn-default' %></td>
			  	</tr>
		  	<% end %>
		  </tbody>
		</table>
		<div class='panel-body'>
			<%= inv.submit 'Submit Payments', class: 'btn btn-success pull-right' %>
		</div>
	<% end %>
</div>
