<div class="panel panel-success">
	<div class="panel-heading">
	  <span class="panel-title">Outstanding Invoices</span>
	</div>
	<%= semantic_form_for :invoices, url: invoice_payments_path, method: :post do |i| %>
		<table class="table table-condensed table-striped table-hover table-responsive">
			<thead>
	  		<tr>
		   		<th>Resident</th>
		   		<th>Unit</th>
		   		<th>Invoice #</th>
		   		<th>Due Date</th>
		   		<th>Total Invoice</th>
		   		<th>Balance Due</th>
		   		<th class='text-center'>Payment Amount</th>
		   		<th class='text-center'>Received on</th>
		   	</tr>
		   </thead>
		   <tbody>
				<% @invoices.each do |invoice| %>
			    <tr>
	    			<td><%= invoice.resident.name %></td>
	    			<td><%= invoice.resident.unit.number %></td>
	    			<td><%= invoice.number %></td>
	    			<td><%= invoice.due_date.strftime('%m/%d/%Y')  %></td>
	    			<td><%= '%.2f' % invoice.total_due %></td>
			   		<td><%= '%.2f' % invoice.balance_due %></td>
		   			<%= i.semantic_fields_for :payments do |p| %>
				   		<td>
			   			  <%= p.input :invoice_id, as: :hidden, input_html: { value: invoice.id } %>
			   				<%= p.input :amount, label: false %>
				   		</td>
				   		<td>
				   			<%= p.input :date, label: false, input_html: { class: 'datepicker'} %>
				   		</td>
		   			<% end %>
			  	</tr>
		  	<% end %>
		  </tbody>
		</table>
		<div class='panel-body'>
			<%= i.submit 'Submit Payments', class: 'btn btn-success pull-right' %>
		</div>
	<% end %>
</div>
