<div class="panel panel-success">
	<div class="panel-heading">
	  <div class="panel-title">Outstanding Invoices</div>
	</div>
	<%= form_for :invoices, url: facility_invoice_payments_path, method: :post do |inv| %>
		<table class="table table-condensed table-striped table-hover table-responsive">
			<thead>
	  		<tr>
		   		<th>Resident</th>
		   		<th>Unit</th>
		   		<th>Invoice #</th>
		   		<th>Due Date</th>
		   		<th>Total Invoice</th>
		   		<th>Balance Due</th>
		   		<th>Status</th>
		   		<th class='text-center'>Payment Amount</th>
		   		<th class='text-center'>Received on</th>
		   		<th class='text-center'>Paid with</th>
		   	</tr>
		   </thead>
		   <tbody>
				<% @invoices.each do |invoice| %>
			    <tr>
	    			<td><%= invoice.resident.name %></td>
	    			<td><%= invoice.resident.unit.number %></td>
	    			<td><%= invoice.number %></td>
	    			<td><%= invoice.due_date.strftime('%m/%d/%Y')  %></td>
	    			<td><%= '%.2f' % invoice.total_due %></td>
			   		<td><%= '%.2f' % invoice.balance_due %></td>
			   		<td><%= (days = (Date.today - invoice.due_date).to_i) > 0 ? "Past Due (#{days})" : 'Current' %></td>
						<%= inv.fields_for "#{invoice.id}" do |pay| %>
				   		<td><%= pay.text_field :amount, class: 'input' %></td>
				   		<td><%= pay.text_field :date, class: 'datepicker' %></td>
				   		<td><%= pay.select :method, Collections::PAYMENT_METHOD %></td>
						<% end %>
			  	</tr>
		  	<% end %>
		  </tbody>
		</table>
		<div class='panel-body'>
			<%= inv.submit 'Submit Payments', class: 'btn btn-success pull-right' %>
		</div>
	<% end %>
</div>
