<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title"><%= @maintenance_request.new_record? ? 'New' : 'Edit' %> Maintenance Request</div>
  </div>
  <div class='panel-body'>
    <%= semantic_form_for [@current_facility, @maintenance_request] do |f| %>
      <div class='row'>
        <h4 class='text-center'>Resident's Information</h4>
        <div class='col-sm-3 col-xs-12'>
          <%= f.input :priority, as: :select, collection: ['Low', 'Medium', 'High'], include_blank: @maintenance_request.new_record? %>
        </div>
        <div class='col-sm-9 col-xs-12'>
          <%= f.input :location, label: 'General location', hint: 'Where is the problem (ie: Room #, West side of building, etc..)' %>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12'>
          <%= f.input :description, label: 'Describe the problem', input_html: { rows: 4 } %>
        </div>
      </div>
      <% unless @maintenance_request.new_record? %>
        <div class='row'>
          <div class='col-sm-4'>
            <%= f.input :created_by, label: 'Requested By', input_html: { disabled: true } %>
          </div>
          <div class='col-sm-2'>
            <%= f.input :completed, as: :select, include_blank: false %>
          </div>
          <div class='col-sm-3'>
            <%= f.input :completed_date, as: :string, hint: 'Blank => Today', input_html: { class: 'datepicker' } %>
          </div>
        </div>
      <% end %>
      
      <%= f.submit 'Save Request', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
