<% dashboard_view ||= false %>

<div class="panel panel-red">
	<div class="panel-heading">
	  <div class="panel-title text-center"><span class='pull-left'>Maintenance Requests <%= dashboard_view ? '(Last 7 Days)' : '' %></span>
	  	<%= link_to 'New Request', new_facility_maintenance_request_path, class: 'btn btn-xs btn-default pull-right' %>
	  	<span class='pull-center'>
			  <%= form_for :search, url: facility_maintenance_requests_path(@current_facility), method: :get do |search| %>
			  	<%= search.select(:completed, options_for_select([['Completed', true], ['Incomplete', false]], @default_selected)) unless dashboard_view %>
			  <% end %>
			</span>
	  </div>
	</div>
	<table class="table table-condensed table-striped table-hover table-responsive fixed">
		<thead>
			<tr>
				<th class='col-tb-75'>Priority</th>
				<th class='col-tb-150 hidden-xs'>Location</th>
				<th class='hidden-xs'>Description</th>
				<% if dashboard_view %>
					<th class='col-tb-100 text-center'>Completed</th>
				<% else %>
					<th class='visible-xs'></th>
					<th class='col-tb-75 text-right'>View&nbsp;</th>
				<% end %>
			</tr>
		</thead>
	  <tbody>
	  	<% @maintenance_requests.each do |request| %>
	  	<!-- Mobile view -->
	   		<tr id="maintenance_request-<%= request.id %>" class='visible-xs'>
	   	 		<td><span class="label label-<%= Collections::LABEL_PRIORITY[p = request.priority] %>"><%= p.capitalize %></span></td>
	   	 		<td class='text-center'><%= request.completed_date.try(:strftime, '%m/%d/%Y') if dashboard_view %></td>
	   	 		<td class='text-right'><%= link_to('View', edit_facility_maintenance_request_path(@current_facility, request), class: 'btn btn-xs btn-default') %>
	   	 		</td>
	   	 	</tr>
	   	 	<tr id="maintenance_request-<%= request.id %>" class='visible-xs'>
	   	 		<td colspan='3'><strong>Location:</strong> <%= request.location %></td>
	   	 	</tr>
	   	 	<tr id="maintenance_request-<%= request.id %>" class='visible-xs'>
	   	 		<td colspan='3'><strong>Description:</strong><br><%= request.description %></td>
	   	 	</tr>
	   	 	<% unless dashboard_view %>
		   	 	<tr id="maintenance_request-<%= request.id %>" class='visible-xs'>
		   	 		<td colspan='3' class='thick-bottom-border text-center'>
		   	 			<%= link_to facility_maintenance_request_path(@current_facility, request), method: :patch, remote: true, class: 'btn btn btn-default', data: { disable_with: "<i class='fa fa-check-square-o'></i> Saving...".html_safe } do %>
		   	 				<i class='fa fa-square-o'></i> Complete
		 	 				<% end %>
		 	 			</td>
		 	 		</tr>
	 	 		<% end %>
	   	 	<!-- End Mobile View -->

	  		<!-- Desktop view -->
		  	<tr id="maintenance_request-<%= request.id %>" class='hidden-xs'>
		   		<td>
		   			<span class="label label-<%= Collections::LABEL_PRIORITY[p = request.priority] %>"><%= p.capitalize %></span><br><br>
		   			<% unless dashboard_view %>
		   	 			<%= link_to facility_maintenance_request_path(@current_facility, request), method: :patch, remote: true, class: 'btn btn-xs btn-default pull-right', data: { disable_with: "<i class='fa fa-check-square-o'></i> Saving...".html_safe } do %>
		   	 				<i class='fa fa-square-o'></i> Complete
		 	 				<% end unless request.completed %>
			 	 		<% end %>
		   		</td>
		   		<td><%= request.location %></td>
		   		<td><%= request.description %></td>
		   		<% if dashboard_view %>
		   			<td class='text-center'><%= request.completed_date.try(:strftime, '%m/%d/%Y') %></td>
		   		<% else %>
		   			<td class='text-right'>
		   				<%= link_to('View', edit_facility_maintenance_request_path(@current_facility, request), class: 'btn btn-xs btn-default') %>
		   			</td>
	   			<% end %>
		   	</tr>
		   	<!-- End Desktop View -->
		  <% end %>
	  </tbody>
	</table>
</div>