<% provide(:title, 'Create An Account') %>

<% content_for(:heading) do %>
  <div class='pull-right'>
    <h2>Create An Account</h2>
  </div>
<% end %>

<br><br><br>
<div class="landing">
	<div class="panel panel-green">
	  <div class="panel-heading">
	    <h4 class="panel-title">Create An Account</h4>
	  </div>
	  <%= semantic_form_for(@user) do |f| %>
	    <div class="panel-body">
        <h4>User Information</h4>
        <div class='row'>
          <div class='col-sm-6'>
            <%= f.input :first_name, placeholder: 'First Name' %>
          </div>
          <div class='col-sm-6'>
            <%= f.input :last_name, placeholder: 'Last Name' %>
          </div>
          <div class='col-sm-12'>
            <%= f.input :email, placeholder: 'Email Address', label: 'Email Address', hint: "Please enter the email address you'd like to use to sign in." %>
          </div>
          <div class='col-sm-6'>
            <%= f.input :password, input_html: { autocomplete: 'off' } %>
          </div>
          <div class='col-sm-6'>
            <%= f.input :password_confirmation %>
          </div>
        </div>
		    <%= f.submit 'Create Account', class: 'btn btn-panel pull-right' %>
	    </div>
	  <% end %>
	</div>
</div>
