<% dashboard_view ||= false %>

<div class="panel panel-orange">
	<div class="panel-heading">
	  <div class="panel-title">Employment Applications
	  	<span class='pull-right'>
			  <%= form_for :search, url: facility_employment_applications_path(current_facility), method: :get do |search| %>
			  	<%= search.select(:active, options_for_select([['Active', true], ['Inactive', false]], @default_selected)) unless dashboard_view %> 
			  <% end %>
			</span>
	  </div>
	</div>
	<table class="table table-condensed table-striped table-hover table-responsive">
		<thead>
  		<tr>
	   		<!-- <th class='text-center'><i class='fa fa-check-square-o'></i></th> -->
	   		<th>Apply Date</th>
	   		<th>Name</th>
   			<th>Phone</th>
	   		<% unless dashboard_view %>
	   			<th>Email</th>
	   		<% end %>
	   		<th class='text-right'>View&nbsp;</th>
	   	</tr>
	  </thead>
	  <tbody>
	  		<% @employment_applications.each do |application| %>
	  	 	<tr>
	  	 		<td><%= application.created_at.strftime('%m/%d/%Y') %></td>
	  	 		<td><%= application.name %></td>
	  	 		<td><%= application.phone %></td>
	  	 		<% unless dashboard_view %>
		  	 		<td><%= application.email %></td>
		  	 	<% end %>
	  	 		<td class='text-right'><%= link_to 'View', facility_employment_application_path(current_facility, application), class: 'btn btn-xs btn-default' %></td>
	  	 	</tr>
	  	 	<% end %>
	  </tbody>
	</table>
</div>
