<div class="panel panel-gradient-babyblue">
  <div class="panel-heading">
    <div class="panel-title">Found Existing User</div>
  </div>
  <div class='panel-body'>
    <%= semantic_form_for FacilitiesUser.new do |f| %>
      <%= hidden_field_tag :user_id, @staff.id %>
      <%= hidden_field_tag :name, @staff.name %>
      <table class="table table-condensed table-responsive">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Permissions</th>
        </tr>
        <tr>
          <td><%= @staff.name %></td>
          <td><%= @staff.email %></td>
          <td><%= @staff.role %></td>
        </tr>
      </table>
      <%= f.submit 'Add User', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
