<% form_params = @staff.new_record? ? {url: facility_create_staff_path, method: :post} : {url: facility_staff_path, method: :patch} # this code resolves routing 'facility_staff_path' directing to 'show' %>

<div class="panel panel-babyblue">
  <div class="panel-heading">
    <div class="panel-title"><%= @staff.new_record? ? 'Create New' : 'Edit' %> User</div>
  </div>
  <div class='panel-body'>
    <%= semantic_form_for [@current_facility, @staff], form_params do |f| %>
      <%= hidden_field_tag(:facility_id, @current_facility.id) %>
      <div class='row'>
        <div class='col-sm-6'>
          <%= f.input :first_name %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :last_name %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :email, label: 'Login / Email' %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :phone %>
        </div>
        <div class='col-sm-12'>
          <%= f.input :role, label: 'Permissions', as: :select, collection: Collections::PERMISSIONS[current_user[:role]], include_blank: false %>
        </div>
        <% if @staff.new_record? %>
          <div class='col-sm-6'>
            <%= f.input :password %>
          </div>
          <div class='col-sm-6'>
            <%= f.input :password_confirmation %>
          </div>
        <% end %>
      </div>
      <%= f.submit 'Save Staff', class: 'btn btn-panel' %>
      <%= link_to 'Remove Staff', facility_facilities_user_path(@current_facility, @staff), method: :delete, data: {confirm: 'Remove this staff member?'}, class: 'btn btn-danger pull-right' unless @staff.new_record? %>
    <% end %>
  </div>
</div>