<% form_params = @staff.new_record? ? {url: facility_staff_create_path, method: :post} : {url: facility_staff_path, method: :patch} # this code is the result of routing collision for 'facility_staff_path' %>
<div class="panel panel-gradient-babyblue">
  <div class="panel-heading">
    <div class="panel-title"><%= @staff.new_record? ? 'Create New' : 'Edit' %> User</div>
  </div>
  <div class='panel-body'>
    <%= semantic_form_for [@current_facility, @staff], form_params do |f| %>
      <div class='row'>
        <div class='col-sm-6'>
          <%= f.input :first_name %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :last_name %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :email, label: 'Login / Email' %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :phone %>
        </div>
        <div class='col-sm-12'>
          <%= f.input :role, label: 'Permissions', as: :select, collection: Collections::PERMISSION[current_user.role], include_blank: false %>
        </div>
        <% if @staff.new_record? %>
          <div class='col-sm-6'>
            <%= f.input :password %>
          </div>
          <div class='col-sm-6'>
            <%= f.input :password_confirmation %>
          </div>
        <% end %>
      </div>
      <%= f.submit 'Save Staff', class: 'btn btn-success' %>
      <%= link_to 'Remove Staff', facilities_user_path(@staff), method: :delete, data: {confirm: 'Remove this staff member?'}, class: 'btn btn-danger pull-right' unless @staff.new_record? || current_user.is_staff? %>
    <% end %>
  </div>
</div>