<div class="panel panel-success">
	<div class="panel-heading">
	  <div class="panel-title">
	  	Staff Directory
	  	<span class='pull-right'><%= link_to 'Add Staff', new_facility_staff_path %></span>
	  </div>
	</div>
	<table class="table table-condensed table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Contact Phone</th>
				<th>Permissions</th>
				<th>Last Login</th>
				<th class='text-center'><i class="fa fa-pencil"></i></th>
			</tr>
		</thead>
	  <tbody>
	  	<% @staff.each do |staff| %>
	   	<tr>
	   		<td><%= staff.name %></td>
	   		<td><%= staff.email %></td>
	   		<td><%= staff.phone %></td>
	   		<td><%= staff.role.capitalize %></td>
	   		<td><%= staff.last_sign_in_at.try(:strftime, "%m/%e/%Y") %></td>
	   		<td class='text-center'>
	      	<%= link_to edit_facility_staff_path(@current_facility, staff) do %>
	          <i class="fa fa-pencil"></i>
	        <% end %>
	      </td>
	   	<tr>
	   	<% end %>
	  </tbody>
	</table>
</div>
