<tr id='unit-<%= u.options[:child_index] %>'>
	<%= u.input :id, as: :hidden %>
	<td><%= u.input :number, label: false, placeholder: '1, D, 4A' %></td>
	<td><%= u.input :occupancy, label: false, as: :select, collection: ['Private', 'Shared'], include_blank: false %></td>
	<td><%= u.input :active, label: false, as: :select, include_blank: false %></td>
</tr>