<div class="panel panel-babyblue">
  <div class="panel-heading">
    <div class="panel-title"><%= @facility.new_record? ? 'New' : 'Edit' %> Facility Form</div>
  </div>
  <%= semantic_form_for @facility do |f| %>
    <div class='panel-body'>
      <div class='row'>
        <h4 class='text-center'>Facility Information</h4>
        <div class='col-sm-12'>
          <%= f.input :name %>
        </div>
        <div class='col-sm-5'>
          <%= f.input :address %>
        </div>
        <div class='col-sm-3'>
          <%= f.input :city %>
        </div>
        <div class='col-sm-2 col-xs-6'>
          <%= f.input :state, as: :select, collection: Collections::STATES %>
        </div>
        <div class='col-sm-2 col-xs-6'>
          <%= f.input :zip %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-3 col-xs-6'>
          <%= f.input :phone %>
        </div>
        <div class='col-sm-3 col-xs-6'>
          <%= f.input :fax %>
        </div>
      </div>

      <table class="table-bordered table-condensed">
        <thead>
          <tr>
            <th class='col-tb-100 text-center'>Unit</th>
            <th class='col-tb-100 text-center'>Type</th>
            <th class='col-tb-75 text-center'>Active</th>
            <th class='text-center'>Resident</th>
          </tr>
        </thead>
        <tbody>
          <%= f.semantic_fields_for :units do |u| %>
            <%= render "units", u: u %>
          <% end %>
          <tr id='new-unit-link'>
            <td colspan='4'><%= link_to_add_unit(f) %></td>
          </tr>
        </tbody>
      </table>
      <br>
      <%= f.submit 'Save Facility', class: 'btn btn-panel' %>
    <% end %>
  </div>
</div>
