<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= @facility.new_record? ? 'New' : 'Edit' %> Facility Form</div>
  </div>
  <div class='panel-body'>
    <%= semantic_form_for @facility do |f| %>
      <div class='row'>
        <h4 class='text-center'>Facility Information</h4>
        <div class='col-md-12'>
          <%= f.input :name %>
        </div>
        <div class='col-md-5'>
          <%= f.input :address %>
        </div>
        <div class='col-md-3'>
          <%= f.input :city %>
        </div>
        <div class='col-md-2'>
          <%= f.input :state, as: :select, collection: Collections::STATE %>
        </div>
        <div class='col-md-2'>
          <%= f.input :zip %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-3'>
          <%= f.input :phone %>
        </div>
        <div class='col-md-3'>
          <%= f.input :fax %>
        </div>
      </div>
      <%= f.submit 'Save Facility', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
