<div class="panel panel-gradient-green">
	<div class="panel-heading">
	  <div class="panel-title">Current Facility Roster
			<%= link_to 'Add Facility', new_facility_path, class: 'btn btn-xs btn-default pull-right' %>
	  </div>
	</div>
	<table class="table table-condensed table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Phone</th>
				<th>Fax</th>
				<th>Rooms</th>
				<th class='text-center'>View</th>
			</tr>
		</thead>
	  <tbody>
	  	<% @facilities.each do |facility| %>
		   	<tr>
		   		<td><%= facility.name %></td>
		   		<td><%= facility.address %></td>
		   		<td><%= facility.city %></td>
		   		<td><%= facility.state %></td>
		   		<td><%= facility.zip %></td>
		   		<td><%= facility.phone %></td>
		   		<td><%= facility.fax %></td>
		   		<td class='text-center'><%= facility.units.count %></td>
		   		<td class='text-center'><%= link_to 'View', edit_facility_path(facility), class: 'btn btn-xs btn-default' %></td>
		   	</tr>
	   	<% end %>
	  </tbody>
	</table>
</div>
