<div class="panel panel-default">
	<div class="panel-heading">
	  <span class="panel-title">Current Resident Roster</span>
	</div>
	<table class="table table-condensed table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>Room</th>
				<th>Name</th>
				<th>Contact Name</th>
				<th>Contact Phone</th>
				<th>Contact Email</th>
				<th>View</th>
			</tr>
		</thead>
	  <tbody>
	  	<% Resident.all.each do |resident| %>
	   	<tr>
	   		<td><%= resident.room %></td>
	   		<td><%= resident.name %></td>
	   		<td><%= resident.contact_name %></td>
	   		<td><%= resident.phone %></td>
	   		<td><%= link_to resident.email %></td>
	   	<tr>
	   	<% end %>
	  </tbody>
	</table>
</div>
