<div class="panel panel-success">
	<div class="panel-heading">
	  <div class="panel-title">
	  	Current Resident Roster
	  	<span class='pull-right'><%= link_to 'New Resident', new_resident_path %></span>
	  </div>
	</div>
	<table class="table table-condensed table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>Room</th>
				<th>Name</th>
				<th class="hidden-xs">Contact Name</th>
				<th>Contact Phone</th>
				<th class="hidden-xs hidden-sm">Contact Email</th>
				<th>Edit</th>
			</tr>
		</thead>
	  <tbody>
	  	<% @residents.each do |resident| %>
	   	<tr>
	   		<td><%= resident.unit.number %></td>
	   		<td><%= resident.name %></td>
	   		<td class="hidden-xs"><%= resident.contact_name %></td>
	   		<td><%= resident.phone %></td>
	   		<td class="hidden-xs hidden-sm"><%= link_to resident.email %></td>
	   		<td class='text-center'>
	      	<%= link_to edit_resident_path(resident) do %>
	          <i class="fa fa-pencil"></i>
	        <% end %>
	      </td>
	   	<tr>
	   	<% end %>
	  </tbody>
	</table>
</div>
