<% provide(:title, 'Sign In') %>

<% content_for(:heading) do %>
  <div class='pull-right'>
    <h2>Sign In</h2>
  </div>
<% end %>

<br><br><br>
<div class="landing">
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class="panel panel-green">
        <div class="panel-heading">
          <h4 class="panel-title">Sign In</h4>
        </div>
        <div class='panel-body'>
          <%= semantic_form_for(:session, url: login_path) do |f| %>
            <%= f.input :email %>
            <%= f.input :password %>
            <%= f.input :remember_me, as: :boolean, label: 'Remember Me', input_html: {class: 'checkbox inline'} %>
            <%= f.submit 'Sign In', class: 'btn btn-panel pull-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
