<div class="panel panel-success">
	<div class="panel-heading">
	  <span class="panel-title">Undeposited Payments</span>
	</div>
		<table class="table table-condensed table-striped table-hover table-responsive">
			<thead>
	  		<tr>
		   		<th>Resident</th>
		   		<th class='text-center'>Received on</th>
		   		<th class='text-center'>Received By</th>
		   		<th>Paid with</th>
		   		<th class='text-center'>Amount</th>
		   		<th class='text-center'>Deposited</th>
		   	</tr>
		   </thead>
		   <tbody>
		   	<%= form_for :deposits, url: facility_invoice_payments_path, method: :post do |pay| %>
					<% @payments.each do |payment| %>
				    <tr>
		    			<td><%= payment.resident.name %></td>
		    			<td class='text-center'><%= payment.receive_date %></td>
		    			<td class='text-center'><%= payment.received_by %></td>
		    			<td><%= payment.method %></td>
		    			<td class='text-center'><%= payment.amount %></td>
		    			<td class='text-center'><%= pay.check_box :deposited %></td>
				  	</tr>
			  	<% end %>
			  	<tr>
			  		<td colspan='5' class='text-right'>Deposited On</td>
			  		<td class='text-center'><%= text_field_tag :date, Date.today, class: 'datepicker' %></td>
		  	<% end %>
		  </tbody>
		</table>
</div>
