<div class='menu'>
	<%= link_to 'Dashboard', facility_dashboard_path(@current_facility) %>
	<%= link_to 'Invoices', facility_invoices_path(@current_facility) %>
	<%= link_to 'Payments', facility_payments_path(@current_facility) %>
	<%= link_to 'Maintenance', facility_maintenance_requests_path(@current_facility) %>
	<%#= link_to 'Applications', facility_applications_path(@current_facility) %>
	<%#= link_to 'Preferences', facility_preferences_path(@current_facility) %>
	<%#= link_to 'Settings', facility_settings_path(@current_facility) %>
	<hr class='divider'>
	<%= link_to 'Facilities', facilities_path(facility_id: @current_facility.id) if current_user.is_executive? %>
	<%= link_to 'Residents', facility_residents_path(@current_facility) %>
	<%= link_to 'Staff', facility_staff_index_path(@current_facility) %>
	<hr class='divider'>
  <%= link_to 'Sign Out', logout_path %>
</div>