<div class='menu'>
	<%= link_to 'Dashboard', dashboard_path %>
	<%= link_to 'Billing', billing_path %>
	<%= link_to 'Residents', residents_path %>
	<%= link_to 'Maintenance', maintenance_requests_path %>
	<%#= link_to 'Applications', applications_path %>
	<%#= link_to 'Settings', settings_path %>
  <%= link_to 'Sign Out', logout_path %>
</div>