<!DOCTYPE html>
<html>
<head>
  <title>Sani</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <% if user_signed_in? %>
      <%= render 'layouts/header.html' %>
    	<%= render 'layouts/sidebar.html' %>
      <div class='content'>
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
