<!DOCTYPE html>
<html>
<head>
  <title>Sani</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <% if user_signed_in? %>
      <%= render 'layouts/header.html' %>
    	<%= render 'layouts/sidebar.html' %>
      <div class='content'>
        <%= hidden_field_tag(:facility_id, @current_facility.id) %>
        <%= semantic_form_for @current_facility do |f| %>
          <% f.input :id, as: :select, collection: current_user.facilities, label: false, include_blank: false %>
        <% end if @multiple_facilities %>
        <span id='bootstrap-flash'><%= bootstrap_flash %></span>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    <% else %>
      <span id='bootstrap-flash'><%= bootstrap_flash %></span>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    <% end %>
  </div>
</body>
</html>
