<% content_for :content do %>
	<%= render 'layouts/dashboard/header.html' %>
	<div class='sidebar'>
	  <%= render 'layouts/dashboard/menu' %> 
	</div>
	<div class='content'>
	  <%= render 'layouts/dashboard/selector.html' if facility_selector? %>
	  <span id='bootstrap-flash'><%= bootstrap_flash %></span>
	  <%= yield %>
	  <%= debug(params) if Rails.env.development? %>
	</div>
<% end %>
<%= render template: "layouts/application" %>