<% content_for :content do %>
	<header>
	  <div class='header-links'>
	    <div class='landing'>
	      <%= landing_menu_links %>
	    </div>
	  </div>
	</header>
	
	<div class="landing">
	  <div class='header'>
	    <%= image_tag 'logo.gif', alt: 'Sani Logo Image', class: 'logo' %>
	    <%= yield(:heading) %>
    </div>
  </div>
	<span id='bootstrap-flash'><%= bootstrap_flash %></span>
	<%= yield %>
<% end %>
<%= render template: "layouts/application" %>