<% content_for :content do %>
	<%= render 'layouts/landing/header' %> 
	
	<div class="landing">
	  <div class='header-logo'>
  		<div class='col-sm-3'>
		    <%= image_tag 'logo.gif', alt: 'Sani Logo Image', class: 'logo' %>
		  </div>
		  <div class='col-sm-9'>
		    <%= yield(:heading) %>
		  </div>
	  </div>
	  <span id='bootstrap-flash'><%= bootstrap_flash %></span>
  </div>
	
	<%= yield %>
	<%= debug(params) if Rails.env.development? %>
<% end %>
<%= render template: "layouts/application" %>