<% content_for :content do %>
	<header>
	  <div class='header-links'>
	    <div class='landing'>
	      <%= landing_menu_links %>
	    </div>
	  </div>
	</header>
	
	<div class="landing">
	  <div class='header'>
	  	<!-- <div class='row'> -->
  		<div class='col-sm-3'>
		    <%= image_tag 'logo.gif', alt: 'Sani Logo Image', class: 'logo' %>
		  </div>
		  <div class='col-sm-9'>
		    <%= yield(:heading) %>
		  </div>
	  </div>
	  <!-- </div> -->
	  <span id='bootstrap-flash'><%= bootstrap_flash %></span>
  </div>
	
	<%= yield %>
	<%= debug(params) if Rails.env.development? %>
<% end %>
<%= render template: "layouts/application" %>