<% content_for :content do %>
	<header>
	  <div class='header-links'>
	    <div class='landing'>
	      <%= link_to_unless_current('Home', root_path) {''} %> |
	      <%= link_to_unless_current('Pricing', pricing_path) {''} %> |
	      <%= link_to_if(current_page?(root_path), 'Contact Us', '#contact-us') {''} %> |
	      <%= link_to 'Sign Up', sign_up_path %>
	    </div>
	  </div>
	</header>
	
	<div class="landing">
	  <div class='header'>
	    <%= image_tag 'logo.gif', alt: 'Sani Logo Image', class: 'logo' %>
	    <%= yield(:heading) %>
    </div>
  </div>
	<span id='bootstrap-flash'><%= bootstrap_flash %></span>
	<%= yield %>
<% end %>
<%= render template: "layouts/application" %>